.cart {
    margin: 20px;
  }
  
  .cart h2 {
    margin-bottom: 10px;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart li {
    margin-bottom: 15px;
  }
  
  .cart button {
    margin: 0 5px;
  }
  